.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #1D2530;
}

.conteiner {
  width: 375px;
  margin: 0 auto;
  padding: 0 23px;
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 688px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1110px) {
  .conteiner {
    width: 1080px;
  }
}

.img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.section {
  background-color: rgba(242, 247, 255, 0.5);
}

.section__title {
  font-size: 32px;
  line-height: 1.25;
}
.section__title--accent {
  color: #685ED6;
}
.section__title--center {
  text-align: center;
}

.section__padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3333333333;
  color: #fff;
  background-color: #685ED6;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border: 0;
  border-radius: 6px;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__link:hover, .nav__link:focus {
  font-weight: 700;
  color: #685ED6;
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding: 32px 0 40px 0;
  }
}

.nav__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.nav__btn {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  z-index: 500;
}
.nav__btn .burger__close {
  display: none;
}
.nav__btn.is-open .burger__close {
  display: block;
}
.nav__btn.is-open .burger__open {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__btn {
    display: none;
  }
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 204px;
  padding: 32px 0 40px 0;
}
@media screen and (min-width: 768px) {
  .burger {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .burger__menu {
    background-color: #fff;
    overflow-y: scroll;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  .burger__menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .burger__menu {
    display: block;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 76px 0 42px 30px;
}
@media screen and (min-width: 768px) {
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__menu {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .bg {
    margin: 0 auto;
    background-image: url(../../img/bg768.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .bg {
    background-image: url(../../img/bg768-2x.jpg);
  }
}
@media screen and (min-width: 1110px) {
  .bg {
    background-image: url(../../img/bg1110.jpg);
  }
}
@media screen and (min-width: 1110px) and (min-device-pixel-ratio: 2), screen and (min-width: 1110px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1110px) and (min-resolution: 192dpi), screen and (min-width: 1110px) and (min-resolution: 2dppx) {
  .bg {
    background-image: url(../../img/bg1110-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero__text {
  width: 270px;
}

.hero__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  margin: 32px 0;
}
.hero__desc--accent {
  font-weight: 800;
  color: #685ED6;
}

.hero__btn {
  padding: 12px 32px;
  margin-bottom: 48px;
}

.benefits {
  margin: 40px 0 24px 0;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  margin-bottom: 16px;
}
.benefits__item:last-child {
  margin-bottom: 0;
}

.benefits__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
}

.benefits__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}

@media screen and (min-width: 768px) {
  .section-benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: color;
        -ms-flex-pack: color;
            justify-content: color;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 2px;
  }
}

.benefits__desc {
  width: 388px;
}

.tariffs {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .tariffs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1110px) {
  .tariffs {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 15px;
  }
}

.tariffs__item {
  display: inline-block;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  background-color: #fcfeff;
  margin-bottom: 20px;
  max-width: 330px;
}
.tariffs__item:last-child {
  margin-bottom: 0;
}

.tariffs__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  width: 214px;
  margin: 0 auto;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .tariffs__text {
    width: 100%;
  }
}

.tariffs__desc {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.4285714286;
  margin-top: 40px;
  margin-bottom: 32px;
}

.tariffs__title {
  color: #685ED6;
  background-color: rgba(104, 94, 214, 0.05);
  font-size: 24px;
  line-height: 2;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 6px 102px;
}

.tariffs__price {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.tariffs__btn {
  padding: 12px 57.5px;
  margin-bottom: 46px;
  margin-top: 50px;
}

.connect {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.connect__number {
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  color: #685ED6;
  padding: 19px 28px;
  background-color: #F1E4FF;
  border-radius: 50%;
  margin-top: 47px;
  margin-bottom: 16px;
}

.connect__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5555555556;
  margin-bottom: 4px;
}

.connect__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5714285714;
  margin-bottom: 40px;
}

.email {
  background-color: #685ED6;
  border-radius: 6px;
  text-align: center;
  padding: 40px 30px;
}

.email__title {
  color: #fff;
  font-size: 24px;
  line-height: 1.3333333333;
  margin-top: 24px;
  margin-bottom: 16px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__btn {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4285714286;
  background-color: #18191F;
  border-radius: 0px 5px 5px 0px;
  border: 0;
  padding: 12px 24px;
}

.form__input {
  background-color: #F4F5F7;
  border-radius: 5px 0px 0px 5px;
  border: 0;
  padding: 14px 16px;
}
.form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
}
.form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
}
.form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
}
.form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
}
.form__input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
}

.footer {
  background-color: #1D2530;
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #EEEFF4;
  text-decoration: none;
}

.footer__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #F4F5F7;
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .footer__title--margin {
    margin-top: 24px;
  }
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
}
@media screen and (min-width: 768px) {
  .footer__conteiner {
    gap: 150px;
  }
}

.footer__name {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  line-height: 0.75;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}/*# sourceMappingURL=main.css.map */